<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="row">
    <div class="col-3">
      <div class="card" style="width: 15rem;">
        <img class="propImg" src="assets/images/house-icon-vector-6344949.png">
        <div class="card-body p-2">
            <div class="text-center">
          <h2>{{ property.name }}</h2>
 
          <h3>{{ property.price }}</h3>
        </div>
    </div>
      </div>
    </div>
  </div>
</body>
</html>
